In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Import pprint
from pprint import pprint

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Izumo,JP,2021-09-21 03:45:16,35.3667,132.7667,87.75,48,20,10.36
1,1,Atuona,PF,2021-09-21 03:43:09,-9.8000,-139.0333,77.81,72,2,19.98
2,2,Kapaa,US,2021-09-21 03:45:16,22.0752,-159.3190,84.18,69,75,14.97
3,3,Hermanus,ZA,2021-09-21 03:45:17,-34.4187,19.2345,50.85,69,80,9.51
4,4,Tasiilaq,GL,2021-09-21 03:44:33,65.6145,-37.6368,37.56,80,98,7.20

In [3]:
# get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Izumo,JP,2021-09-21 03:45:16,35.3667,132.7667,87.75,48,20,10.36
1,1,Atuona,PF,2021-09-21 03:43:09,-9.8000,-139.0333,77.81,72,2,19.98
2,2,Kapaa,US,2021-09-21 03:45:16,22.0752,-159.3190,84.18,69,75,14.97
10,10,Lorengau,PG,2021-09-21 03:45:18,-2.0226,147.2712,84.15,64,77,2.91
20,20,Havelock,US,2021-09-21 03:44:00,34.8791,-76.9013,75.18,94,90,10.36
22,22,Meulaboh,ID,2021-09-21 03:43:57,4.1363,96.1285,83.64,67,99,1.28
28,28,Avarua,CK,2021-09-21 03:43:22,-21.2078,-159.7750,77.05,88,90,5.75
31,31,Hithadhoo,MV,2021-09-21 03:44:04,-0.6000,73.0833,83.39,74,100,12.35
33,33,Labuhan,ID,2021-09-21 03:45:26,-6.8844,112.2051,85.33,63,98,5.19
39,39,Carnarvon,AU,2021-09-21 03:45:30,-24.8667,113.6333,87.87,15,0,18.41

In [12]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0       Izumo      JP     87.75  35.3667  132.7667
1      Atuona      PF     77.81  -9.8000 -139.0333
2       Kapaa      US     84.18  22.0752 -159.3190
10   Lorengau      PG     84.15  -2.0226  147.2712
20   Havelock      US     75.18  34.8791  -76.9013
22   Meulaboh      ID     83.64   4.1363   96.1285
28     Avarua      CK     77.05 -21.2078 -159.7750
31  Hithadhoo      MV     83.39  -0.6000   73.0833
33    Labuhan      ID     85.33  -6.8844  112.2051
39  Carnarvon      AU     87.87 -24.8667  113.6333

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Izumo,JP,87.75,35.3667,132.7667,Toyoko-Inn Izumoshi ekimae
1,Atuona,PF,77.81,-9.8000,-139.0333,Villa Enata
2,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Lorengau,PG,84.15,-2.0226,147.2712,Lorengau Harbourside Hotel
20,Havelock,US,75.18,34.8791,-76.9013,Sherwood Motel
22,Meulaboh,ID,83.64,4.1363,96.1285,Kost Pria
28,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
31,Hithadhoo,MV,83.39,-0.6000,73.0833,Scoop Guest House
33,Labuhan,ID,85.33,-6.8844,112.2051,PT PPI Lamongan Tambak C
39,Carnarvon,AU,87.87,-24.8667,113.6333,Hospitality Carnarvon

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))